*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


:root{
    --bg-color:#fff;
    --main-color:#008000;
    --text-color:#000000;

}

header{
    display: flex;
    justify-content: space-between;
    margin: 23px;
}

img .logo{
    font-size: 67px;
}

nav ul li{
    display: inline-block;
    margin: 15px;
    font-size: 15px;
    text-transform: uppercase;
}

nav ul li a{
    color: #008000;
}


.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: 23px;
}

.row1{
    background-color: var(--main-color);

    
}

.row1 i{
    color: var(--bg-color);
    margin-left: 50%;
    font-size: 30px;
}

.ty{
    color: var(--bg-color);
    font-size: 23px;
}

.row2{
    background-color: var(--main-color);
    color: var(--bg-color);


}

.row3{
    background-color: var(--main-color);
    color: var(--bg-color);
}

.h{
    margin-left: 35%;
}