body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.nu{
    border: 2px solid #1c820a;;
    border-radius: 50px ;
    color:#1c820a;
    width: 189px;
    height: 41px;
    text-align: center;
    position: relative;
    left: 480px;
    top: 20px;
}

.wifi{
    width: 23px;
    height: 23px;
    position: relative;
    right: 46px;
    top: 9px;
    color: #1c820a;
}

.n{
    position: relative;
    left: 23px;
    bottom: 29px;
}

.gb{
    background-color: #1c820a;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    width: 130%;
    height: 590px;
    padding-bottom : 190px;
    position: relative;
    right: 20px;
    top: 60px;
}

.wtt{
    font-weight: lighter;
    position: relative;
    left: 90px;
    top: 43px;
    letter-spacing: 9px;
}

.hr1{
    width: 15%;
    border: 1.5px solid white;
    position: relative;
    top: 96px;
    right: 621px;
}

.pb{
    color: white;
    width: 26px;
    height: 26px;
    position: relative;
    top: 75px;
    left: 300px;
}

.hr2{
    width: 15% ;
    border: 1.5px solid white;
    position: relative;
    top: 47.5px;
    right: 303px
}

.yt{
    position: relative;
    left: 36px;
    top: 100px;
}

.hr5{
    width: 15% ;
    border: 1.5px solid white;
    position: relative;
    top: 153px;
    right: 630px
}

.up{
    color: white;
    width: 23px;
    height: 23px;
    position: relative;
    top: 129px;
    left: 286px;
}

.hr6{
    width: 15% ;
    border: 1.5px solid white;
    position: relative;
    top: 107.5px;
    right: 323px
}

.wtt1{
    border: 2px solid;
    border-radius: 1px;
    width: 230px;
    height: 31px;
    background: white;
    color: #1c820a;;
    position: relative;
    top: 160px;
    left: 176px;
    text-align: center;
    padding-top: 9px;   
}

.wle{
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;
    left: 729px;
    bottom: 540px;
}

.hr3{
    width: 15%;
    border: 1.5px solid white;
    position: relative;
    bottom: 480.5px;
    left: 300px;
}

.pb1{
    width: 26px;
    height: 26px;
    position: relative;
    bottom: 501px;
    left: 903px;
}

.hr4{
    width: 15%;
    border: 1.5px solid white;
    position: relative;
    bottom: 529.5px;
    right:   17px;
}

.le{
    width: 560px;
    height: 315px;
    position: relative;
    left: 639px;
    bottom: 477px;
}

.hr7{
    width: 15%;
    border: 1.5px solid white;
    position: relative;
    bottom: 423.5px;
    left: 300px;
}

.up1{
    color: white;
    width: 26px;
    height: 26px;   
    position: relative;
    bottom: 449px;
    left: 903px;
}

.hr8{
    width: 15%;
    border: 1.5px solid white;
    position: relative;
    bottom: 472.5px;
    right:   17px;
}

.wle1{
    font-weight: lighter;
    letter-spacing: 1px;
    position: relative;
    left: 810px;
    bottom: 420px;
    border: 2px solid;
    border-radius: 1px;
    width: 230px;
    height: 31px;
    background: white;
    color: #1c820a;;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
}

.hr9{
    width: 40%;
    border: 1.5px solid #1c820a;
    position: relative;
    bottom: -128.5px;
    left: -343px;
}

.l{
    color:#1c820a ;
    text-align: center;
    font-weight: 800 ;
    font-size: xx-large;
    position: relative;
    top: 76px;
    letter-spacing: 1px;
}

.hr10{
    width: 40%;
    border: 1.5px solid green;
    position: relative;
    bottom: -27px;
    right: -343px;
}

.flex-container{
    display: flex;
    background-color: flex;
    width: 100%;
    height: auto;
    position: relative;
    top: 200px;
    color: #1c820a;
}

.flex-container > div{
    background-color: white;
    margin: 5px;
    font-size: 19px;
    width: 25%;
    text-align: center;
    padding: 60px 30px;
}

.flexbox .grad , .flexbox .read , .flexbox .dcb , .flexbox .b{
    width: 35px;
    height: 35px;
    border: 3px solid #1c820a;
    border-radius: 50%;
    padding: 19px 19px;
}

/* Hover Isn't Working

.flexbox .grad :hover, .flexbox .read :hover, .flexbox .dcb :hover, .flexbox .b :hover {
    background-color: #1c820a;
    color: #f1f1f1;
} */

.ben , .pub , .dload , .ta{
    font-weight: lighter
}

h5{
    font-weight: lighter;
}

.rm{
    position: relative;
    top: 39px;
    left: 50px;
    border: 2px solid;
    border-radius: 1px;
    width: 130px;
    height: 31px;
    background-color: #1c820a;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.flex-container1{
    display: flex;
    background-color: flex;
    width: 100%;
    height: auto;
    position: relative;
    top: 300px;
    color: #1c820a;
}
.flex-container1 .box1{
    background-color: white;
    font-size: 14.5px;
    text-align: left;
    width: 55%;
    border-radius: none;
}

.flex-container1 .box2{
    background-color: white;
    padding: 90px 30px;
    width: 45%;
    border-radius: none;
}

.oh{
    text-align: right;
    color: #3b2f2a;
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    bottom: -4px;
}

.h55{
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 27px;
    text-align: right;    
    position: relative;
    top: 28px;
    color: #3b2f2a;
}

.mau{
    position: relative;
    top: 39px;
    left: 370px;
    border: 2px solid;
    border-radius: 1px;
    width: 219px;
    height: 31px;
    background-color:white;
    color: #3b2f2a;
    text-align: center;
    padding-top: 10px;
}

.mau:hover{
    color: white;
    background-color: #3b2f2a;
}

.graduate{
    width: 600px;
    height: 580px;
    border-radius: 5px;
    position: relative;
    bottom: 58px;
}
 
.container{
    display: flex;
    background-color: flex;
    width: 100%;
    height: 900px;
}

.cb{
    height: 560px;
    width: 380px;
    position: relative;
    top: 300px;
    left: 10px;
}

.publ{
    color:  white;           
    position: relative;
    top: 19px;
    left: 79px;
    font-size: xx-large;
}

.close{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 143px;
    left: 79px;
}

.rm1{
    position: relative;
    top: -9px;
    left: 80px;
    border: 2px solid;
    border-radius: 10px ;
    border-color: white;
    width: 123px;
    height: 28px;
    background-color: white;
    color: #1c820a;
    text-align: center;
    padding-top: 10px;
}

.cb1{
    height: 560px;
    width: 380px;
    position: relative;
    top: 300px;
    left: 29px;
}

.eve{
    color:  white;           
    position: relative;
    bottom: 29px;
    left: 79px;
    font-size: xx-large;
}

.cam{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 53px;
    left: 79px;
}

.rm11{
    position: relative;
    bottom: 1px;
    left: 80px;
    border: 2px solid;
    border-radius: 10px ;
    border-color: white;
    width: 123px;
    height: 28px;
    background-color: white;
    color: #1c820a;
    text-align: center;
    padding-top: 10px;
}

.cb2{
    height: 560px;
    width: 380px;
    position: relative;
    top: 300px;
    left: 19px;
}

.op{
    color:  white;           
    position: relative;
    top: -49px;
    left: 79px;
    font-size: xx-large;
}

.rm111{
    position: relative;
    top: -40px;
    left: 80px;
    border: 2px solid;
    border-radius: 10px ;
    border-color: white;
    width: 123px;
    height: 28px;
    background-color: white;
    color: #1c820a;
    text-align: center;
    padding-top: 10px;
}

.hr11{
    width: 40%;
    border: 1.5px solid #1c820a;
    position: relative;
    left: -303px;
    top: -10px;
}

.da{
    width: 36px;
    height: 36px;   
    position: relative;
    left: 579px;
    top: -36px;
}

.hr12{
    width: 40%;
    border: 1.5px solid green;
    position: relative;
    bottom: 69px;
    right: -313px;
}


.container1{
    position: relative;
    top: -360px;
}

.flex-container2{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    top: 300px;
}

.flex-container2 .flexbox1{
    padding: 0px 23px;
    width: 50%;
    font-size: 14.5px;
    text-align: left;
    width: 50%;
}

.loes{
    text-align: right;
    position: relative;
    right: -3px;
    font-size: large;
    color: #1c820a;
    letter-spacing: 2px;
}

.loesi{
    width: 100%;
    height: 70vh;
    border-radius: 3px;
    border-color: white;

}

.rm2{
    position: relative;
    top: -6px;
    left: 423px;
    border: 2px solid;
    border-color: #1c820a;
    width: 123px;
    height: 21px;
    background-color: white;
    color: #1c820a;
    text-align: center;
    padding-top: 9px;
}

.loc{
    font-size: large;
    color: #1c820a;
    letter-spacing: 2px;
}

.loci{
    width: 100%;
    height: 70vh;
    border-radius: 3px;
    color: white;
}

.rm21{
    position: relative;
    top: -6px;
    border: 2px solid;
    border-color: #1c820a;
    width: 123px;
    height: 21px;
    background-color: white;
    color: #1c820a;
    text-align: center;
    padding-top: 9px;
}

.rm2:hover , .rm21:hover{
    color: white;
    background-color: #1c820a;
}

.sgb{
    background-color: #1c820a;
    color: white;
    width: 120%;
    height: 36vh;
    position: relative;
    top: -60px;
    right: 2px;
    background-attachment: fixed;
    background-position: center;

}

.aess{
    position: relative;
    top: 36px;
    left: 290px;
    font-size: large;
    letter-spacing: 2px;
    line-height: 25px;
}

.rm3{
    position: relative;
    top: 66px;
    left: 286px;
    border: 2px solid;
    border-color: rgb(245, 200, 91);;
    width: 123px;
    height: 21px;
    background-color: #1c820a;
    color: rgb(245, 200, 91);;
    text-align: center;
    padding-top: 9px;
}

.rm3:hover{
    color: black;
    background-color: rgb(245, 200, 91);
}

.flex-container3{
    display: flex;
    background-color: flex;
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    color: #1c820a;
}

.flex-container3 .box2{
    background-color: white;
    font-size: 14.5px;
    text-align: left;
    width: 55%;
    border-radius: none;
}

.flex-container3 .box21{
    background-color: white;
    padding: 90px 30px;
    width: 45%;
    border-radius: none;
}

.nrf{
    text-align: right;
    font-size: xx-large;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
    top: 60px;
    left: 6px;
}

.h44{
    font-weight: lighter;
    line-height: 26px;
    text-align: right;    
    position: relative;
    top: 88px;
    color: #3b2f2a;
}

.rm4{
    position: relative;
    top: 109px;
    left: 429px;
    border: 2px solid;
    border-radius: 1px;
    width: 160px;
    height: 36px;
    background-color:white;
    color: #3b2f2a;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.rm4:hover{
    color: white;
    background-color: #3b2f2a;
}

.girl{
    width: 600px;
    height: 580px;
    border-radius: 5px;
    position: relative;
    bottom: 58px;
}

.drop{
    background: url(tetfund_contatcus_by_mexygabriel-copy.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    text-align: center; 
    padding: 0;
    margin: 0;
    color: white;
}

.dual{
    font-size: 110px;
    position: relative;
    top: 190px;
}

.wlthfr{
    position: relative;
    top:70px;
    left: 19px;
    letter-spacing: 1px;
}

.quote{
    border: 5px solid white;
    border-radius: 50px;
    border-color: rgba(255, 249, 249, 0.3);
    width: 50px;
    height: 50px;
    font-size: xx-large;
    position: relative;
    top:70px;
    left: 560px;
}

.cus{
    text-align: center;
    color: #1c820a;
    position: relative;
    top: 160px;
    height: 90vh;
}

.con{
    font-size: 40px;
}

.hr13{
    width: 70%;
    border: 1.5px solid #6dab3c;
}

.ch{
    position: relative;
    left: 519px;
    border: 2px solid;
    border-radius: 1px;
    width: 160px;
    height: 36px;
    background-color:#6dab3c;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.ch:hover{
    color: white;
    background-color: #1c820a;
}

.end{
    background-color: #1c820a;
    width: 100%;
    height: 90vh;
}

.flex-container4{
    display: flex;
    background-color: flex;
    width: 100%;
    height: 60vh;
    position: relative;
    top: 90px;
    color: white;
}

.flex-container4 .box3{
    font-size: 14.5px;
    text-align: left;
    width: 33%;
    border-radius: none;
}

.em{
    position: relative;
    left: 23px;
}

.rat{
    width: 7px;
    height: 7px;  
    position: relative;
    top: -37px;
    left: 360px;
}

.h66{
    font-weight: lighter;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: left;    
    position: relative;
    top: -8px;
    left: 30px;
}

.fi{
    width: 300px;
    height: 300px;
    position: relative;
    left: 30px;
}

.ratcus{
    width: 7px;
    height: 7px;  
    position: relative;
    top: -37px;
    left: 143px;  
}

.addi{
    width: 13px;
    height: 13px; 
    position: relative;
    top: 13px;
    left: -13px;         
}

.add{
    position: relative;
    top: -23px;
    left: 19px;  
}

.span{
    position: relative;
    top: -29px;
    line-height: 15px;
}

.hr14{
    border: 0.3px solid black;
    position: relative;
    top: -17px;
}

.phonei{
    width: 13px;
    height: 13px;
    position: relative;
    top: 3px;    
}

.phone{
    position: relative;
    top: -33px;
    left: 19px;  
}

.emaili{
    width: 13px;
    height: 13px; 
    position: relative;
    top: -29px;   
}

.email{
    position: relative;
    top: -66px;
    left: 19px;  
}

.webi{
    width: 13px;
    height: 13px;    
    position: relative;
    top: -60px;
}

.web{
    position: relative;
    top: -96px;
    left: 19px;    
}

.hr15{
    width: 100%;
    border: 0.3px solid black;
    position: relative;
    top: 100px;   
}

.fe{
    position: relative;
    top: 100px;   
    left: 20px;
    color: white;
}

.socials{
    position: relative;
    left: 1110px;
    top: 66px;   
}

.fb{
    width: 13px;
    height: 13px;    
}

.lin{
    width: 13px;
    height: 13px;    
}

.twi{
    width: 13px;
    height: 13px;    
}

.ig{
    width: 13px;
    height: 13px;    
}